@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 100%;
  }

  body {
    @apply bg-dark text-gray-100 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}